*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.Calculadora{
    position: absolute;
    height: 400px;
    width: 300px;
    top: 80px;
    left: 500px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button{
    position: absolute;
    top: 230px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    color: white;
    background-color: #F0D803;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.valorMensal{
    position: absolute;
    top: 60px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-weight: bolder;
    padding-left: 10px;
}

.anos{
    position: absolute;
    top: 130px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-weight: bolder;
    padding-left: 10px;
}
