*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.header{
    position: relative;
    background-color: #FFC700;
    height: 400px;
    width: 100%;
}
.header h1{
    position: absolute;
    left: 50px;
    top: 80px;
    color: white;
    font-size: 45px;
}
.header h4{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
}

.Calculadora{
    position: absolute;
    height: 400px;
    width: 300px;
    top: 80px;
    left: 500px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button{
    position: absolute;
    top: 230px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    color: white;
    background-color: #F0D803;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.valorMensal{
    position: absolute;
    top: 60px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-weight: bolder;
    padding-left: 10px;
}

.anos{
    position: absolute;
    top: 130px;
    left: 30px;
    height: 40px;
    width: 230px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-weight: bolder;
    padding-left: 10px;
}
footer{
    background-color: #101010;
    padding: 70px 0;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.containerfooter{
    max-width: 1170px;
    background-color: #101010;
    margin:auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFE600;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:lat-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}