*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


.Container{
    max-width: 1080px;
    display: flex;
    top: 100px;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: #262626;
}
header{
    background-color: white;
    width: 100%;
}
.Logo{
    position: absolute;
    left: 50px;
    top:20px;

}
.Menu{
    height: 70px;
}
.Login{
    position: absolute;
    border: none;
    background-color: #FEE501;
    color: white;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    right: 200px;
    top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.iconsettings{
    position: absolute;
    top: 15px;
    right: 200px;
    height: 60px;
    width: 60px;
    color: #FBE51E;

}
.iconsettings i{
    font-size: 30px;
}
.Login:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FBE51E;
}

.Mid{
    background-image: url('mulherusandopc.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top:20px;
    left: 200px;
}
.NavList{
    display: flex;
    align-items: center;
    list-style: none;

}
.NavList li{
    margin-left: 20px;
    float: left;
}
.NavList ul{
    list-style-type: none;
    overflow: hidden;

}
.NavList a{
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.NavList:hover a{
    color: #c0c0c0;;
}
.NavList a:hover{
    color: #262626;
}
.Vamos{
    position: relative;
    border: none;
    background-color: white;
    left: 100px;
    top: 430px;
    height: 60px;
    width: 200px;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Mensage1{
    position: absolute;
    color: white;
    left: 100px;
    top: 180px;
    font-weight: bolder;
    font-size: 45px;
}

.Mensage2{
    position: absolute;
    color: white;
    left: 100px;
    top: 240px;
    font-weight: bolder;
}
.Produtos{
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: black;
}
.NossosProdutos{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.bloco1{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #161616;
    top: 120px;
    left: 50px;
    border-radius: 20px;
}
.bloco2{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #161616;
    top: 120px;
    left: 360px;
    border-radius: 20px;
}
.bloco3{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #161616;
    top: 120px;
    left: 670px;
    border-radius: 20px;
}
.bloco4{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #161616;
    top: 120px;
    left: 1000px;
    border-radius: 20px;
}


.Pros{
    position: absolute;
    height: 400px;
    width: 100%;
    top: 1200px;
    background-color: white;
}
.Freedom{
    position: absolute;
    height: 500px;
    width: 100%;
    top: 1500px;
    background-color: #FFC700;
}
.Freedom a{
    position: absolute;
    text-decoration: none;
    color: white;
    top: 200px;
    left: 20px;
}
.textfreedom{
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
}

.owner{
    position: absolute;
    height: 400px;
    width: 100%;
    top: 2100px;
    background-color: white;
}

footer{
    position: absolute;
    height: 400px;
    width: 100%;
    top: 2600px;
    background-color: black;
}
.imagemmulher{
    position: absolute;
    left: 700px;
    top: 20px;
    height: 400px;
    width: 300px
}
footer{
    background-color: #101010;
    padding: 70px 0;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.containerfooter{
    max-width: 1170px;
    background-color: #101010;
    margin:auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFE600;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:lat-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}