*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #FFE600;
}
form{
    position: absolute;
    top: 150px;
    left: 500px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h3{
    position: absolute;
    top: 17px;
    left: 50px;
    color: #3E3E3E;
}

.email{
    position: absolute;
    border: none;
    top: 80px;
    left: 20px;
    background-color: #F5F5F5;
    height: 30px;
    width: 250px;
    border-radius: 3px;
}
.senha{
    position: absolute;
    border: none;
    top: 130px;
    left: 20px;
    background-color: #F5F5F5;
    height: 30px;
    width: 250px;
    border-radius: 3px;
}
button{
    position: absolute;
    border: none;
    top: 200px;
    left: 20px;
    background-color: yellow;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.Signup{
    position: absolute;
    left: 30px;
    top: 300px;
}

.social-links a{
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}