* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFE600;
}

img {
    position: absolute;
    height: 100%;
}

form {
    position: relative;
    margin: auto;
    padding: 20px;
    height: auto;
    width: 90%;
    max-width: 650px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
}

h3 {
    margin-top: 20px;
    text-align: center;
    color: #3E3E3E;
    font-size: 25px;
}

.Emaillabel,
.Senhalabel {
    margin-top: 20px;
    font-size: 18px;
    color: #3E3E3E;
    font-weight: bold;
    display: block;
}

.email,
.senha {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #A0A0A0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #3E3E3E;
}

button {
    margin-top: 30px;
    border: none;
    background-color: #FFC700;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

.barrinha {
    position: relative;
    margin-top: 30px;
    height: 60px;
    width: 100%;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Signup,
.recrutador {
    color: #FFC700;
    text-decoration: none;
}

.recrutador {
    text-shadow: 1px 1px 2px rgba(255, 199, 0, 0.8);
}

@media (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    .Emaillabel, .Senhalabel, .email, .senha, button {
        font-size: 16px;
    }

    .Signup, .recrutador {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    h3 {
        font-size: 18px;
    }

    .Emaillabel, .Senhalabel, .email, .senha, button {
        font-size: 14px;
    }

    .Signup, .recrutador {
        font-size: 12px;
    }

    .barrinha {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }
}
