<!DOCTYPE html>
<html lang="pt-br" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
      </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Capital Invest</title>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
<header>
    <div class="Container">
        <a href="/Home"> <div  class="Logo"><img height="25px" width="120px" src="css/CapitalInvest.png"></div> </a>

        <div class="Menu">
            <nav class="NavList">
                <ul>
                    <li><a href="" >Capital Invest</a></li>
                    <li><a href="" >Invista</a></li>
                    <li><a href="" >Produtos</a></li>
                    <li><a href="" >Contatos</a></li>
                </ul>
            </nav>
        </div>
        <div >
            <a href="/Login">
                <button class="Login">Login</button>
            </a>
        </div>
    </div>
</header>
<div class="Mid">
    <h1 class="Mensage1">Invista de uma forma segura</h1>
    <h2 class="Mensage2">Dê um UP na sua situação financeira</h2>
    <button class="Vamos">Vamos!</button>
</div>
<div class="Produtos" >
    <h1 class="NossosProdutos" > Nossa variedade de produtos </h1>
    <div class="bloco1"></div>
    <div class="bloco2"></div>
    <div class="bloco3"></div>
    <div class="bloco4"></div>
</div>
<div class="Pros" >
    <h1 class="textvantagens" >Vantagens de usar a CapitalInvest</h1>

</div>
<div class="Freedom">
    <h1 class="textfreedom" > Quer saber quanto precisa <br>
        para atingir sua liberdade financeira?</h1>
    <img class="imagemmulher" src="css/freedomimage.jpg">
    <a href="/Liberdade Financeira">Saber mais →</a>
</div>
<div class="owner" >
    <h1 class="textowner" >Este é o responsavel por esse projeto</h1>
    <div class="bordadourada" ><img class="anjocaidoimg" src="" ></div>
</div>
<footer>
    <div class="containerfooter">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href=""> About us</a></li>
                    <li><a href=""> Our Service</a></li>
                    <li><a href=""> Privacy policy</a></li>
                    <li><a href=""> Afiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href=""> Faq</a></li>
                    <li><a href=""> Shipping</a></li>
                    <li><a href=""> Returns</a></li>
                    <li><a href=""> Examples</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>