<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
      </style>
    <title>Capital Invest</title>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
<header>
    <div class="Container">
        <div class="Logo"><img height="25px" width="120px" src="css/CapitalInvest.png"></div>
        <div class="Menu">
            <nav class="NavList">
                <ul>
                    <li><a href="" >Capital Invest</a></li>
                    <li><a href="" >Invista</a></li>
                    <li><a href="" >Produtos</a></li>
                    <li><a href="" >Tire suas Dúvidas</a></li>
                </ul>
            </nav>
        </div>
        <div >
            <button class="ButtonEntrar">Acesse sua conta</button>
        </div>
        <div >
            <a href="/SignUp" >
                <button class="ButtonInscrever">Abra sua conta</button>
            </a>
        </div>
    </div>
</header>
<div class="Mid">
    <h1 class="Mensage1">Invista de uma forma segura</h1>
    <h2 class="Mensage2">Dê um UP na sua situação financeira</h2>
    <button class="Vamos">Vamos!</button>
</div>

</body>
</html>