<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
      </style>
    <title>Capital Invest</title>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
<header>
    <div class="Container">
        <a href="/Home"> <div  class="Logo"><img height="25px" width="120px" src="css/CapitalInvest.png"></div> </a>

        <div class="Menu">
            <nav class="NavList">
                <ul>
                    <li><a href="" >Capital Invest</a></li>
                    <li><a href="" >Invista</a></li>
                    <li><a href="" >Produtos</a></li>
                    <li><a href="" >Contatos</a></li>
                </ul>
            </nav>
        </div>
        <div >
            <a href="/Login">
                <button class="ButtonEntrar">Acesse sua conta</button>
            </a>

        </div>
        <div >
            <a href="/SignUp" >
                <button class="ButtonInscrever">Abra sua conta</button>
            </a>
        </div>
    </div>
</header>
<div class="Mid">
    <h1 class="Mensage1">Invista de uma forma segura</h1>
    <h2 class="Mensage2">Dê um UP na sua situação financeira</h2>
    <button class="Vamos">Vamos!</button>
</div>
<div class="Produtos" >
    <h1 class="NossosProdutos" > Nossa variedade de produtos </h1>
</div>
<div class="Pros" >
    <h1 class="textvantagens" >Vantagens de usar a CapitalInvest</h1>

</div>
<div class="Freedom">
    <h1 class="textfreedom" > Quer saber quanto precisa para atingir sua liberdade financeira?</h1>
    <img class="imagemmulher" src="css/mulherdinheirofundo.png">
    <button class="buttosimular" >Simular</button>
</div>
<div class="owner" >
    <h1 class="textowner" >Este é o responsavel por esse projeto</h1>
    <div class="bordadourada" ><img class="anjocaidoimg" src="" ></div>
</div>
<footer>

</footer>

</body>
</html>