<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="css/SignUp.css">
</head>
<body>
    <div class="Barra" >
        <div class="Logo"  > <img src="css/CapitalInvest.png"></div>
    </div>
    <div class="Rounded" >
        <form>
            <h2 class="Signup">Sign up</h2>
            <h2>Crie sua conta em segundos</h2>
            <p>Ao criar sua conta voce desfruta dos nosso diversos produtos para melhorar sua situação financeira e seus investimentos</p>
            <input style="padding-left: 10px;" class="Usuario" placeholder="Usuario" type="text" ><br>
            <input style="padding-left: 10px;" class="Senha" placeholder="Senha" type="password" ><br>
            <a href="" ><button>Cadastrar</button></a>
        </form>
        <div class="SocialMedias" >
            <a class="iconegoogle" href=""><img src="css/iconegoogle.png"></a>
            <a class="iconex" href=""><img height="24px" width="24px" src="css/iconex.png"></a>
            <a class="iconeface" href=""><img height="26px" width="26px" src="css/iconefacebook.png"></a>
        </div>
    </div>

</body>
</html>