<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SignIn</title>
</head>
<body>
<form>
    <h3>Login</h3>
    <div class="social-links">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-google"></i></a>
    </div>
    <input class="email" style="padding-left: 10px" type="email" placeholder="Email"><br>
    <input class="senha" style="padding-left: 10px" type="password" placeholder="Senha"><br>
    <a class="Signup" href="/SignUp">Caso voce não tenha conta</a>
    <button>Logar</button>
</form>

</body>
</html>