<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="css/SignUp.css">
</head>
<body>
<div class="Barra">
    <a href="/Home"> <div class="Logo"><img height="25px" width="120px" src="css/CapitalInvest.png"></div> </a>
</div>
<div class="Rounded">
    <form action="/SignUp" method="post">
        <h2 class="Signup">Sign up</h2>
        <h1>Create your account in seconds</h1>
        <p>By creating your account, you can enjoy our diverse products to improve your financial situation and investments</p>
        <input style="padding-left: 10px;" class="Email" name="email" placeholder="Email" type="text"><br>
        <input style="padding-left: 10px;" class="Senha" placeholder="Password" name="password" type="password"><br>
        <input style="padding-left: 10px;" class="RepetirSenha" placeholder="Repeat Password" name="repeatPassword" type="password"><br>
        <a href=""><button>Sign Up</button></a>
    </form>
    <div class="SocialMedias">
        <a class="iconegoogle" href=""><img src="css/iconegoogle.png"></a>
        <a class="iconex" href="/oauth2/authorization/twitter"><img height="24px" width="24px" src="css/iconex.png"></a>
        <a class="iconeface" href="/oauth2/authorization/facebook"><img height="26px" width="26px" src="css/iconefacebook.png"></a>
    </div>
</div>
</body>
</html>